@font-face {
    font-family: "Title";
    src: url("../font/title.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Medium.ttf");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}